{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cut and Go</title>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap");
    </style>
    <link rel="stylesheet" href="{% static "css/cutter/styles.css" %}" />
  </head>

  <body>
    <header>
      <div class="banner">
        <p class="name"><a href="http://127.0.0.1:8000">Cut and Go</a></p>
      </div>
    </header>
    <div class="forms">
      <div class="form-url">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="form-long-url">
          <label for="long url">Enter your long url: </label><br>
          <input type="text" name="long_url" class="long-url" id="long_url" placeholder="paste your url" required />
        </div>
        <div class="form-max-clicks">
          <label for="max_clicks">Enter max clicks quantity: </label><br>
          <input type="number" name="max_clicks" class="max-clicks" id="max_clicks" min="0"  value=0 />
        </div>
      </div>
        <div class="button">
          <button type="submit">Cut</button>
        </div>
      </form>
    </div>
  </body>
</html>
